# Classes

In [187]:
class Calculator:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b == 0:
            raise ValueError("Cannot divide by zero")
        return a / b
    def power(self, base, exponent):
        return base ** exponent

calc = Calculator()
print(calc.add(5, 3))

8

In [201]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")

In [202]:
df= pd.read_csv('notebook/data/personality_dataset.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [190]:
df.drop(['Post_frequency'], axis=1, inplace=True)
df.drop_duplicates(inplace=True)

In [222]:
x = df.drop('Personality', axis=1)
y = df['Personality']
X = df.drop('Personality', axis=1)
Y = df['Personality']
        
        # Identify categorical and numerical columns
cat_cols = x.select_dtypes(include=['object']).columns.tolist()
num_cols = x.select_dtypes(include=['int64', 'float64']).columns.tolist()
        
 # Define preprocessing steps
num_transformer = Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),
            ('scaler', StandardScaler())
        ])       
        
cat_transformer = Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),
            ('onehot', OneHotEncoder(handle_unknown='ignore'))
        ])
        
preprocessor = ColumnTransformer(
            transformers=[
                ('num', num_transformer, num_cols),
                ('cat', cat_transformer, cat_cols)
            ]
        )
        
        # Fit and transform
x_transformed = preprocessor.fit_transform(x)
X_transformed = preprocessor.transform(X)

label_encoder = LabelEncoder()
y_transformed = label_encoder.fit_transform(y)
Y_transformed = label_encoder.transform(y)


        # Save transformed arrays with target appended
train_array = np.c_[x_transformed.toarray() if hasattr(x_transformed, "toarray") else x_transformed, y]
test_array = np.c_[X_transformed.toarray() if hasattr(X_transformed, "toarray") else X_transformed, Y]
        
        # Get feature names after transformation
x_train, y_train = train_array[:, :-1], train_array[:, -1]
x_test, y_test = test_array[:, :-1], test_array [:, -1]

In [225]:
x_transformed.shape

(2900, 9)

In [191]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)

In [192]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Personality
0,4.0,No,4.0,6.0,No,13.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,Extrovert

In [193]:
# mapping category of personality to numerical values
df['Personality'] = df['Personality'].map({
    'Extrovert': 0,
    'Introvert': 1,
})

In [194]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1774 entries, 0 to 2899
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           1774 non-null   float64
 1   Stage_fear                 1774 non-null   object
 2   Social_event_attendance    1774 non-null   float64
 3   Going_outside              1774 non-null   float64
 4   Drained_after_socializing  1774 non-null   object
 5   Friends_circle_size        1774 non-null   float64
 6   Personality                1774 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 110.9+ KB

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Personality
0,4.0,No,4.0,6.0,No,13.0,0
1,9.0,Yes,0.0,0.0,Yes,0.0,1
2,9.0,Yes,1.0,2.0,Yes,5.0,1
3,0.0,No,6.0,7.0,No,14.0,0
4,3.0,No,9.0,4.0,No,8.0,0

In [195]:

# for col in cat_cols:
#     cardinality = df[col].nunique()
#     if cardinality < 5:
#         # one hot encoding for low cardinality categorical features
#         dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
#         df = pd.concat([df, dummies], axis=1)
#         df.drop(col, axis=1, inplace=True)
#     else:
#         df[col] = LabelEncoder().fit_transform(df[col])

In [196]:
x = df.drop('Personality', axis=1)
y = df['Personality']

cat_cols = x.select_dtypes(include=['object']).columns.tolist()
num_cols = x.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [197]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Personality
0,4.0,No,4.0,6.0,No,13.0,0
1,9.0,Yes,0.0,0.0,Yes,0.0,1
2,9.0,Yes,1.0,2.0,Yes,5.0,1
3,0.0,No,6.0,7.0,No,14.0,0
4,3.0,No,9.0,4.0,No,8.0,0

In [198]:

# Preprocessing
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, num_cols),
        ('cat', categorical_transformer, cat_cols)
    ]
)
# Train-test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Full pipeline
models = {
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Support Vector Machine": SVC(),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "K-Nearest Neighbors": KNeighborsClassifier(n_neighbors=5),
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

results = {}

for name, clf in models.items():
    # Create pipeline with current model
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('model', clf)
    ])
    
    # Fit model
    pipeline.fit(x_train, y_train)
    
    # Predict
    y_pred = pipeline.predict(x_test)
    
    # Evaluate
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Model {name}: {clf.__class__.__name__}")
    print(f"Accuracy: {accuracy:.4f}")
    print("-" * 50)
    
    # Store results
    results[name] = {
        "model": clf.__class__.__name__,
        "accuracy": accuracy
    }

Model Random Forest: RandomForestClassifier
Accuracy: 0.8676
--------------------------------------------------
Model Logistic Regression: LogisticRegression
Accuracy: 0.8789
--------------------------------------------------
Model Support Vector Machine: SVC
Accuracy: 0.9155
--------------------------------------------------
Model Decision Tree: DecisionTreeClassifier
Accuracy: 0.8056
--------------------------------------------------
Model K-Nearest Neighbors: KNeighborsClassifier
Accuracy: 0.8986
--------------------------------------------------
Model XGBoost: XGBClassifier
Accuracy: 0.8732
--------------------------------------------------

In [ ]:
preprocessor.transform

In [199]:
from tabulate import tabulate

# Sort results by accuracy
sorted_results = sorted(results.items(), key=lambda x: x[1]["accuracy"], reverse=True)

# Create table rows: [Model Name, Model Type, Accuracy]
table_rows = [
    [name, info["model"], f"{info['accuracy']:.4f}"] for name, info in sorted_results
]

# Print as table
print("\nüîç Model Comparison Summary:")
print(tabulate(table_rows, headers=["Model Name", "Model Type", "Accuracy"], tablefmt="grid"))

üîç Model Comparison Summary:
+------------------------+------------------------+------------+
| Model Name             | Model Type             |   Accuracy |
+========================+========================+============+
| Support Vector Machine | SVC                    |     0.9155 |
+------------------------+------------------------+------------+
| K-Nearest Neighbors    | KNeighborsClassifier   |     0.8986 |
+------------------------+------------------------+------------+
| Logistic Regression    | LogisticRegression     |     0.8789 |
+------------------------+------------------------+------------+
| XGBoost                | XGBClassifier          |     0.8732 |
+------------------------+------------------------+------------+
| Random Forest          | RandomForestClassifier |     0.8676 |
+------------------------+------------------------+------------+
| Decision Tree          | DecisionTreeClassifier |     0.8056 |
+------------------------+------------------------+------------+

In [200]:
# save the best model
import joblib
best_model_name = sorted_results[0][0]
best_model = models[best_model_name]
joblib.dump(best_model, 'best_personality_model.joblib')

['best_personality_model.joblib']